.container {
    margin: 50px 0px 0px 150px;
}

label {
    font-size: 40px;
    margin-right: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: wheat;
    border-radius: 20px;
}

.input {
    background-color: antiquewhite;
    height: 40px;
    width: 300px;
    margin-left: 20px;
}

.type {
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    outline: none;
    margin-top: 20px;
}